<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48438281409-3ij7duqgb2cbuu6i2u4c8ob5aqt96jbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48438281409-3ij7duqgb2cbuu6i2u4c8ob5aqt96jbb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>48438281409-a1hbm5ce0ej2dpm8bmihle5cakh5i3pn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJNoamK2WMwMZDaky3UOKJU4T-DAMeLEE</string>
	<key>GCM_SENDER_ID</key>
	<string>48438281409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pikurupickleball.pikuru</string>
	<key>PROJECT_ID</key>
	<string>pikuru-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pikuru-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48438281409:ios:96c5f030eb9f43bd8e4040</string>
</dict>
</plist>